.header-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-row h1 {
  white-space: nowrap;
}

.header-row button {
  padding-right: 0.75rem !important;
  margin-top: 0.25rem;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 4px;
  overflow: auto;
  min-height: 13rem;
  position: fixed;
  top: 8rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.item-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
