.input-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.125rem;
}

.input-and-label {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  width: 100%;
}

.input-and-label label {
  position: absolute;
  top: -1.25rem;
}

.input-section .start-icon {
  position: absolute;
  left: -0.875rem;
}

.input-section .full-width,
.input-section.full-width {
  width: 100%;
}

.input-section label {
  font-size: 0.875rem;
  white-space: nowrap;
}

.input-section input:focus + label,
.input-section textarea:focus + label {
  color: var(--teal);
}

.input-section input:focus,
.input-section textarea:focus {
  outline: 2px solid var(--teal);
}

.input-section input,
.input-section textarea {
  width: 100%;
  border-radius: 5px;
  outline: 1px solid var(--black);
  border: none;
  padding: 0.5rem;
  background-color: var(--white);
}

.input-section textarea {
  padding: 0.25rem 0.5rem;
}

.icon-and-input {
  display: flex;
  align-items: center;
}

.field-error label {
  color: var(--red) !important;
}

.field-error input,
.field-error textarea {
  outline: 1px solid var(--red) !important;
}

.field-error input:focus,
.field-error textarea:focus {
  outline-width: 2px !important;
}

.input-section .helper-text {
  font-size: 0.75rem;
  position: absolute;
  bottom: -1.125rem;
}

.field-error .helper-text {
  color: var(--red);
}
